<a [routerLink]="['/details', film.id]" [state]="{ film }" class="film-card">
  <img
    [src]="film.poster_url || 'assets/placeholder-img.png'"
    [alt]="film.title || 'Poster'"
  />
  <span>{{ film.title }}</span>
</a>

<button type="button" class="btn-more" (click)="openModal($event)">+</button>

<app-modal *ngIf="showModal" [film]="film" (closed)="closeModal()">
  <app-btn-watchlist [film]="film"></app-btn-watchlist>
  <app-btn-edit [item]="film" itemLocation="watchlist"> </app-btn-edit>

  <app-btn-watched
    *ngIf="isInWatchlist$(film.id) | async"
    [film]="film"
  ></app-btn-watched>

  <app-btn-edit [item]="film" itemLocation="watched"> </app-btn-edit>
</app-modal>
