<div class="modal-backdrop" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">
    <header class="modal__header">
      <h2>{{ film.title }}</h2>
      <button
        type="button"
        class="modal__close"
        (click)="close()"
        aria-label="Close"
      >
        ✕
      </button>
    </header>

    <div class="modal__body">
      <app-btn-watchlist [film]="film"></app-btn-watchlist>

      <ng-container *ngIf="isInWatchlist$(film.id) | async; else watchedEdit">
        <app-btn-edit [item]="film" itemLocation="watchlist"></app-btn-edit>
      </ng-container>

      <ng-template #watchedEdit>
        <app-btn-edit
          *ngIf="isInWatched$(film.id) | async"
          [item]="film"
          itemLocation="watched"
        ></app-btn-edit>
      </ng-template>

      <app-btn-watched [film]="film"></app-btn-watched>
    </div>
  </div>
</div>
