.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.69);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal {
  background: rgba(255, 255, 255, 0.94);
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  border-radius: 1em;
  min-width: 28em;
  max-width: 90vw;
  box-shadow: 0 20px 50px rgba(34, 34, 34, 0.5);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  margin-bottom: 2.8em;
}

.modal__close {
  color: rgb(255, 0, 0);
  background: none;
  border: none;
  font-size: 1.44rem;
  cursor: pointer;

  transition: 0.44s ease;
}
.modal__close:hover{
  transform: scale(1.28);
}

.modal__body {
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex-direction: column;
  gap: 2em;
}

