<div class="film-details" *ngIf="film as f; else notFound">
  <div class="film-details__header">
    <img
      class="film-details__poster"
      [src]="f.poster_url || 'assets/placeholder-img.png'"
      [alt]="f.title || 'Poster'"
    />
  </div>

  <app-btn-watchlist [film]="f"></app-btn-watchlist>

  <app-btn-edit
    *ngIf="film && (watchlist.isInWatchlist$(film.id) | async)"
    [film]="f"
  ></app-btn-edit>

  <ul class="film-details__container">
    <li><span class="film-details__label">Title:</span> {{ f.title }}</li>

    <li *ngIf="f.release">
      <span class="film-details__label">Released:</span>
      {{ f.release | date : "yyyy" }}
    </li>

    <li *ngIf="f.runtime && f.runtime > 0">
      <span class="film-details__label">Runtime:</span>
      {{ f.runtime }} mins
    </li>

    <li>
      <span class="film-details__label">Synopsis:</span>
      {{ f.synopsis ?? "—" }}
    </li>

    <li>
      <span class="film-details__label">Genres:</span>
      {{ f.genre?.join(", ") || "—" }}
    </li>
  </ul>
</div>

<ng-template #notFound>
  <p>Film not found.</p>
</ng-template>
