.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;


  .landing-page__film-cards-container {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      gap: 60px;
      justify-content: center;
  }

  h3{
    color: white;
    font-size: 2rem;
  }
  hr{
    color: white;
    background-color: white;
    width: 80%;
    justify-self: flex-start;
  }
}
